body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Cambria', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color:  #5cdb95;
    font-size: 22px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.post-bg {
  background-color:  #5cdb95;
  color: #05386b;
}

.title-paginaton {
  color: #edf5e1;
}


.white-bg {
  color: black;
  font-weight: bold;
  background-color: white;
}
