body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cambria', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color:  #3feee6;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.post-bg {
  background-color:  #3feee6;
}

.text-title {
  
}

.white-bg {
  color: black;
  font-weight: bold;
  background-color: white;
}
